.terms_modal {
  border-radius: 8px;
  overflow: hidden;
  :global {
    .ant-modal-content {
      border-radius: 8px;
    }

    .ant-modal-body div {
      > h4.ant-typography {
        margin-top: 40px;
      }
      > h5 {
        color: rgba(0, 0, 0, 0.85);
        font-weight: 600;
        font-size: 14px;
        line-height: 1.4;
      }
    }
    .version-table {
      width: 98%;
      border: 1px solid #f0f0f0;
      margin-bottom: 20px;
      th,
      td {
        padding: 5px 10px;
        border: 1px solid #f0f0f0;
      }
    }
  }
}
