.questions {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 40px;
  p {
    margin: 0px 0px 0px 10px;
    font-size: 19px;
    color: #062c57;
    font-weight: 500;
    cursor: pointer;
  }
  :global {
    color: #1890ff;
    font-size: 19px;
  }
}

.question_contents {
  p {
    margin-top: -10px;
    padding-left: 90px;
    font-size: 16px;
    color: #062c57;
    font-weight: 400;
  }
  ul {
    margin-top: -10px;
    padding-left: 100px;
    li {
      font-size: 16px;
      color: #062c57;
      font-weight: 400;
      margin-top: 10px;
    }
  }
}
